In [1]:

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

print('Libraries imported.')

Libraries imported.

In [2]:
sf_geospatial_data_zip = pd.read_pickle("data/sf_geospatial_data_zip.pkl")
sf_geospatial_data = pd.read_pickle("data/sf_geospatial_data.pkl")
categories = pd.read_pickle("data/categories.pkl")
venues = pd.read_pickle("data/venues.pkl")

In [3]:
print("No. of Neighbouhoods: {}".format(sf_geospatial_data.shape[0]))
print("No. of Postal Codes: {}".format(sf_geospatial_data_zip.shape[0]))
print("No. of Categories: {}".format(categories.shape[0]))
print("No. of Venues: {}".format(venues.shape[0]))

No. of Neighbouhoods: 116
No. of Postal Codes: 27
No. of Categories: 937
No. of Venues: 5549

#### Neighbourhoods in San Francisco

In [468]:
sf_geospatial_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116 entries, 0 to 116
Data columns (total 3 columns):
Neighbourhood    116 non-null object
latitude         116 non-null float64
longitude        116 non-null float64
dtypes: float64(2), object(1)
memory usage: 3.6+ KB

In [469]:
sf_geospatial_data.head()

            Neighbourhood   latitude   longitude
0                Seacliff  37.785941 -122.490700
1             Lake Street  37.786197 -122.475521
2  Presidio National Park  37.807044 -122.472101
3        Presidio Terrace  37.788263 -122.460805
4          Inner Richmond  37.779870 -122.464746

#### Postal Codes of San Francisco

In [470]:
sf_geospatial_data_zip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 3 columns):
postal_code    27 non-null object
latitude       27 non-null float64
longitude      27 non-null float64
dtypes: float64(2), object(1)
memory usage: 728.0+ bytes

In [471]:
sf_geospatial_data_zip.head()

  postal_code   latitude   longitude
0       94124  37.730417 -122.384425
1       94127  37.734646 -122.463708
2       94131  37.740104 -122.438231
3       94133  37.805989 -122.409915
4       94132  37.718140 -122.486349

#### List of Categories from the Foursquare API

In [472]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
Index: 937 entries, 4d4b7104d754a06370d81259 to 52f2ab2ebcbc57f1066b8b4a
Data columns (total 3 columns):
name         937 non-null object
icon         937 non-null object
parent_id    927 non-null object
dtypes: object(3)
memory usage: 29.3+ KB

In [473]:
categories.head()

,name,icon,parent_id
4d4b7104d754a06370d81259,Arts & Entertainment,https://ss3.4sqi.net/img/categories_v2/arts_en...,NaN
56aa371be4b08b9a8d5734db,Amphitheater,https://ss3.4sqi.net/img/categories_v2/arts_en...,4d4b7104d754a06370d81259
4fceea171983d5d06c3e9823,Aquarium,https://ss3.4sqi.net/img/categories_v2/arts_en...,4d4b7104d754a06370d81259
4bf58dd8d48988d1e1931735,Arcade,https://ss3.4sqi.net/img/categories_v2/arts_en...,4d4b7104d754a06370d81259
4bf58dd8d48988d1e2931735,Art Gallery,https://ss3.4sqi.net/img/categories_v2/arts_en...,4d4b7104d754a06370d81259

#### Venues explored using the Foursquare API

In [475]:
venues.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5549 entries, 4f3709abe4b0aa62a1d35520 to 528c2945498ed98d2451a535
Data columns (total 10 columns):
address         5263 non-null object
category        5549 non-null object
city            5536 non-null object
country         5549 non-null object
cross_street    4107 non-null object
lat             5549 non-null float64
lng             5549 non-null float64
name            5549 non-null object
postal_code     5266 non-null object
state           5549 non-null object
dtypes: float64(2), object(8)
memory usage: 476.9+ KB

In [476]:
venues.head()

,address,category,city,country,cross_street,lat,lng,name,postal_code,state
venue_id,,,,,,,,,,
4f3709abe4b0aa62a1d35520,748 Innes Ave,4bf58dd8d48988d1ed941735,San Francisco,United States,NaN,37.730525,-122.372998,Archimedes Banya,94124,CA
49d3e08bf964a5201f5c1fe3,1634 Jerrold Ave,4bf58dd8d48988d11b951735,San Francisco,United States,NaN,37.739589,-122.390171,Flora Grubb Gardens,94124,CA
53058fdb498e2837542f7f8f,1439 Egbert Ave Unit c,4e0e22f5a56208c4ea9a85a0,San Francisco,United States,3rd Street,37.723004,-122.393615,Seven Stills Brewery & Distillery,94124,CA
555e58ad498e9137bc49f191,900 Marin St,4bf58dd8d48988d1e5931735,San Francisco,United States,btwn Illinois & Michigan St,37.749404,-122.386016,The Midway SF,94124,CA
56eb4e0a498e5769545c1843,1525 Cortland Ave,50327c8591d4c4b30a586d5d,San Francisco,United States,NaN,37.739798,-122.408986,Barebottle Brewing Company,NaN,CA

#### From Venue Transitions to Activity Transitions
*venue_id*: The curernt venue
*next_venue_id*
*distance*

In [4]:
next_venues = pd.read_pickle('data/next_venues.pkl')

In [5]:
next_venues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19494 entries, 0 to 19493
Data columns (total 5 columns):
venue_id               19494 non-null object
next_venue_id          19494 non-null object
venue_category         19494 non-null object
next_venue_category    19494 non-null object
distance               19494 non-null float64
dtypes: float64(1), object(4)
memory usage: 761.6+ KB

In [6]:
next_venues.head()

,venue_id,next_venue_id,venue_category,next_venue_category,distance
0,4f3709abe4b0aa62a1d35520,43c4e03ff964a5205d2d1fe3,Spa,Brewery,1.122189
1,49d3e08bf964a5201f5c1fe3,46363302f964a52012461fe3,Flower Shop,Coffee Shop,0.003798
2,49d3e08bf964a5201f5c1fe3,4f833c3be4b0e533af027908,Flower Shop,Pizza Place,0.100066
3,49d3e08bf964a5201f5c1fe3,4bd4afdb29eb9c744a2892e1,Flower Shop,Garden Center,1.506962
4,49d3e08bf964a5201f5c1fe3,4bf313f7370e76b0c956bd4a,Flower Shop,Dessert Shop,2.038199